# Ignore environment variables
.env

# Ignore npm/yarn scraps
dist/
build/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore flow typings
flow-typed/

# Ignore DB scripts
script/migrations/
